/* ============================================================
     6.2 MENUS
   ============================================================ */

.menu-main-menu-container {
  background-color: #000;
}

.main-navigation {
  background: #000;
  clear: none;
  display: block;
  padding: 136px 0 58px;
  position: fixed; 
  right: 0;
  top: 0;
  width: 320px;
  z-index: 8;
}
@media screen and (min-width: 480px) {
  .main-navigation {
    width: 365px;
  }
}


.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation li {
  display: block;
  border-top: solid 1px #4d4d4d;
  float: none;
  line-height: 45px;
  margin: 0 39px;
  position: relative;
}
.main-navigation a {
  color: #fff;  
  display: block;
  font-size: 16.5px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  width: 100%;
}
.main-navigation ul ul {
  background-color: #000;
  box-shadow: none;
  display: block;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul a {
  font-weight: 400;
  text-transform: none;
}
.main-navigation ul ul li {
  border-top: none;
  margin: 0;
  text-transform: none;
}
.main-navigation li:hover > a, .main-navigation li.focus > a {
  color: $mainColor;
}
.main-navigation ul ul :hover > a, .main-navigation ul ul .focus > a {
  color: $mainColor;
}
.main-navigation ul ul a:hover, .main-navigation ul ul a.focus {
  color: $mainColor;
}
.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a {
  color: $mainColor;
}
.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
  left: auto;
}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  left: 100%;
}
.main-navigation .current_page_ancestor > a, .main-navigation .current-menu-ancestor > a {
  color: #fff;
}
.main-navigation .menu-item-has-children > a:after {
  color: $mainColor;
  content: '+';
  float: right;
  font-size: 27px;
  line-height: 45px;
  margin-top: 0;
  position: relative;
  top: 0;
}
*/

/* Small menu
--------------------------------------------- */

.menu-toggle, .main-navigation.toggled ul {
  display: block;
}

.main-navigation ul {
  display: block;
}
.main-navigation .gray-nav-item {
  border-top: none;
  line-height: 37px;
}
.main-navigation .gray-nav-item a {
  color: #b1b1b1;
}
.main-navigation .current_page_item.gray-nav-item > a, .main-navigation .current-menu-item.gray-nav-item > a {
  color: $mainColor;
}
.main-navigation .gray-nav-item a i {
  display: inline-block;
  margin-left: 5px;
}
.main-navigation .gray-nav-item.bottom-nav-begins {
  margin-top: 58px;
}
*/

/* Slide in
---------------------------------------------- */

.cbp-spmenu {
  background: #000;
  position: absolute; 
}
.cbp-spmenu-vertical {
  height: auto;
  min-height: 125vh;
  padding-bottom: 130px;
  top: 0;
  width: 320px;
  z-index: 8;
}
@media screen and (min-width: 480px) {
  .cbp-spmenu-vertical {
    height: auto; 
    min-height: 100vh;
    width: 363px;
  }
}

.cbp-spmenu-right {
  right: -320px;
}
@media screen and (min-width: 480px) {
  .cbp-spmenu-right {
    right: -363px;
  }
}
.main-navigation.cbp-spmenu-right, .cbp-spmenu-right.cbp-spmenu-open {
  top: 0;
}
.cbp-spmenu-vertical {
  width: 320px;
}
.cbp-spmenu-right {
  right: -320px;
}
@media screen and (min-width: 480px) {
  .cbp-spmenu-vertical {
    width: 363px;
  }
  .cbp-spmenu-right {
    right: -363px;
  }
}


.cbp-spmenu-right.cbp-spmenu-open {
  right: 0;
}
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
